@import "../../styles/partials/colors";

.btnGroup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.helpLink {
    font-size: 0.875rem;
    margin: 1rem 0;

    &:last-child {
        margin-bottom: 0;
    }

    a {
        color: rgba($lightGray, 0.6);

        &:hover {
            color: $honeyYellow;
            text-decoration: underline;
        }
    }
}

@media only screen and (min-width: 601px) {
    .helpLink {
        margin: 1.25rem 0;
    }
}

@media only screen and (min-width: 1400px) {
}
