@import "../../styles/partials/colors";
@import "../../styles/partials/sizes";

.btnGroup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 601px) {
}
