@import "../../styles/partials/colors";
@import "../../styles/partials/sizes";

.form {
    display: grid;
}

.termsOfUse {
    a {
        color: $lightGray;
        text-decoration: underline;
        transition: all 0.3s;

        &:hover {
            color: $honeyYellow;
        }
    }
}

.btnGroup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1400px) {
    .form {
        row-gap: 0.625rem;
    }
}
