@import "../../styles/partials/colors";
@import "../../styles/partials/sizes";

.contentMenu {
    position: absolute;
    top: $headerHeight;
    width: 100%;
    height: calc(100% - ($headerHeight + $menuMobileHeight));
    background-color: $darkCharcoal;
    color: $softWhite;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.menu {
    height: $menuMobileHeight;
    background-color: $charcoal;
    color: $softWhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.iconLink {
    height: max-content;
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: $honeyYellow;
    }
}
