@import "../../styles/partials/colors";
@import "../../styles/partials/sizes";

$borderSize: 1px;
$borderColorDivider: #455a64;

.profileMenu {
    .profile {
        position: relative;
        width: 2.25rem; //36px
        height: 2.25rem; //36px
        border-radius: 50%;
        background-image: url("/icons/profilecircle.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        overflow: hidden;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            outline: 0.125rem solid $honeyYellow;
        }
    }

    .menu {
        position: absolute;
        right: 0.125rem; //2px
        width: 12rem; //  192px
        height: max-content;
        background: $charcoal;
        color: $softWhite;
        font-size: 0.875rem; //14px
        border: $borderSize solid $softWhite;
        border-radius: 0.25rem;
        box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
        padding: 0.625rem; //10px
        transition: 0.5s;
        z-index: 1000;

        &::before {
            content: "";
            position: absolute;
            top: -0.625rem; // 10px
            right: 1.375rem; // 22px
            width: 1rem; //16px
            height: 1rem;
            background: $charcoal;
            border-left: $borderSize solid;
            border-top: $borderSize solid;
            border-color: $softWhite;
            transform: rotate(45deg);
            z-index: 1000;
        }

        h3 {
            font-size: 0.875rem;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        h4 {
            font-size: 0.688rem; //11px
            font-weight: 300;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $lightGray;
        }

        ul {
            border-top: $borderSize solid $borderColorDivider;
            list-style: none;
            margin-top: 0.625rem;

            li,
            div {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                span {
                    margin-left: 0.5rem;
                }
            }

            .btn {
                cursor: pointer;

                &:hover {
                    filter: $filterYellowColor;
                }
            }

            li {
                padding: 0.875rem 0.375rem;
            }

            li:last-child {
                padding-bottom: 0.375rem;
            }

            li:not(:last-child) {
                border-bottom: $borderSize solid $borderColorDivider;
            }
        }
    }
}

.menuHidden {
    top: 5rem; // 80px
    visibility: hidden;
    opacity: 0;
}
.menuActive {
    top: $headerHeight;
    visibility: visible;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .profileMenu {
        .menu {
            width: 12.5rem;
            font-size: 1rem; //16px
            border-radius: 0.5rem;

            .header {
                padding: 0.375rem;

                h3 {
                    font-size: 1rem;
                }

                h4 {
                    font-size: 0.75rem;
                }
            }

            ul {
                li {
                    padding: 1rem 0.375rem;
                }

                li:last-child {
                    padding-bottom: 0.375rem;
                }
            }
        }
    }
}
