@import "../../styles/partials/colors";
@import "../../styles/partials/sizes";

.datetimeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.dateInput {
    height: 2.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #767676;
    border-radius: 0.25rem;
}

.vacanciesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 120px);
    background-color: #747474;
    color: $softWhite;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $softWhite;
        font-size: 1.75rem;
        font-weight: 600;
    }
}
