$queenBlue: #33658aff;
$charcoal: #2f4858;
$darkSkyBlue: #86bbd8;
$softWhite: #f7f7f7;
$softBlack: #383838;
$lightGray: #e7e7e7;
$softGray: #acacac;
$darkOldBlue: #455A64;
$honeyYellow: #f6ae2d;
$orangeRed: #f26419;
$darkCharcoal: #233642;

$filterYellowColor: brightness(0) saturate(100%) invert(86%) sepia(12%) saturate(7163%) hue-rotate(336deg) brightness(101%)
    contrast(93%);

// HEX TO CSS FILTER GENERATOR
// https://angel-rs.github.io/css-color-filter-generator/