$queenBlue: #33658aff;
$charcoal: #2f4858;
$darkSkyBlue: #86bbd8;
$softWhite: #f7f7f7;
$softBlack: #383838;
$lightGray: #e7e7e7;
$honeyYellow: #f6ae2d;
$orangeRed: #f26419;
$darkCharcoal: #233642;

// HEX TO CSS FILTER GENERATOR
// https://angel-rs.github.io/css-color-filter-generator/