@import "../../styles/partials/colors";
@import "../../styles/partials/sizes";

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0.625rem;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 10;
}

.card {
    // max-width: 15rem; //240px
    width: 100%;
    background-color: $charcoal;
    text-align: center;
    border-radius: 0.25rem;
    font-weight: 400;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: top-to-down 0.45s both;
    box-shadow: 2px 2px 8px 4px #000000;

    .cardIcon {
        margin-bottom: 1rem;
    }

    .cardMessage {
        margin-bottom: 2rem;
    }

    .btnGroup {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
    }
}

@media only screen and (min-width: 768px) {
    .card {
        max-width: 25rem; //400px
        max-height: 21.875rem; //350px
        height: 100%;
        padding: 2rem;
        border-radius: 0.5rem;

        .cardIcon {
            img {
                width: 5rem; //80px
                height: auto;
            }
        }

        .cardMessage {
            p {
                font-size: 1.25rem;
            }
        }
    }
}

@keyframes top-to-down {
    from {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-5rem); //-80px
    }
    to {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}
