@import "./partials/colors";
@import "./partials/sizes";

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 1.5rem;
        color: $charcoal;
        text-decoration: underline;
        margin-top: 0.5rem;
    }

    p {
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        color: #33658a;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

.imageContainer {
    max-width: 400px;
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 1rem;

    .image {
        position: relative !important;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1.25rem;
        }
    }
}

$wrapperWidthLg: 600px;

@media only screen and (min-width: 1400px) {
    .container {
        h1 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
        
        p {
            width: $wrapperWidthLg;
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }
        .imageContainer {
            max-width: $wrapperWidthLg;
        }
    }
}
