@import "../../styles/partials/colors";
@import "../../styles/partials/sizes";

.main {
    height: calc(100vh - $headerHeight);
}

.mainFooter {
    height: calc(100vh - ($headerHeight + $footerHeight));
}

.mainDark {
    background-color: $darkCharcoal;
}

@media only screen and (min-width: 1400px){
    .main {
        height: calc(100vh - $headerHeightLg);
    }
    
    .mainFooter {
        height: calc(100vh - ($headerHeightLg + $footerHeightLg));
    }
}