@import "../../styles/partials/colors";
@import "../../styles/partials/sizes";

.main,
.mainFooter {
    // padding: 1rem;
}

.main {
    height: calc(100vh - $headerHeight);
}

.mainFooter {
    height: calc(100vh - ($headerHeight + $footerHeight));
}

.mainDark {
    background-color: $darkCharcoal;
}