@import "../../styles/partials/colors";
@import "../../styles/partials/sizes";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: $charcoal;
    height: $headerHeight;
}

.brand {
    width: 140px;
    aspect-ratio: 241/44;
    background-image: url("/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (min-width: 768px) {
    .brand {
        width: 150px;
    }
}

@media only screen and (min-width: 1400px) {
    .header {
        height: 90px;
        padding: 0.5rem 2rem;
    }

    .brand {
        // font-size: 1.25rem;
        width: 150px;
    }
}
