@import "../../styles/partials/colors";
@import "../../styles/partials/sizes";

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.25rem solid rgba($lightGray, 0.3);
    border-left-color: $honeyYellow;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
