.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // display: block;
    // position: relative;

    .checkmark {
        display: flex;
        justify-content: center;
        align-items: center;
        // position: absolute;
        // top: 0;
        // left: 0px;
        height: 18px;
        width: 18px;
        background-color: #eee;
        border-radius: 2px;
        z-index: 1;

        .checkbox {
            position: relative;
            // font-size: 1.125rem;
            // opacity: 0;
            // width: 0;
            // height: 0;
            z-index: 2;
            // margin-right: 0.5rem;
        }

        input:checked ~ .checkmark {
            background-color: #ff0a54;
        }
    }

    &:hover input ~ .checkmark {
        background-color: #ccc;
    }
}
