@import "../../styles/partials/colors";
@import "../../styles/partials/sizes";

.expiredTag {
    font-size: 0.875rem;
    font-weight: 500;
    width: max-content;
    border: 2px solid $honeyYellow;
    color: $honeyYellow;
    border-radius: 0.125rem;
    padding: 0.125rem 0.5rem;
    margin-top: 0.25rem;
}
